# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Assembly-Browser.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Work\SPP\lab3-Assebly-browser\Assembly-Browser-main\Assembly-Browser\.idea\.idea.Assembly-Browser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
